<h2>News</h2>

<form action="/news" method="get">
  <label for="keyword"></label>
  <input type="text" name="keyword" placeholder="Keyword">

  <label for="category"></label>
  <input type="text" name="category" placeholder="Category">

  <button type="submit">Search for news</button>
</form>

{{response.articles.[0].content}}

{{#each response.articles}}
<br><br>
{{this.source.name}}
<br><br>
{{this.author}}
<br><br>
{{this.title}}
{{/each}}

{{!-- {{#each data.body.artists.items}}
{{this.name}}
<img src={{this.images.[0].url}} alt="" class="card-img-top">
<button><a href="/albums/{{this.id}}">View Albums</a></button>
{{/each}} --}}


<br>
<footer>Powered by <a href="https://newsapi.org/">NewsAPI.org</a></footer>